[Telegram]
api_id = 1000000
api_hash = 949f9257d958404d6fd987fb8ef7ab29 
username = mikaelangelm
sess_string = 1ApWapzMBuzMsJwj910EvWqgN7lrL6Q2PWZIoQ_MH_PohmiO9CD8Ks-abUgIsJwj910EvWqgN7lrL6Q2PWZIoQ_MH_PohmiO9CDzuCSyY6wdLSbqE0HYj8bfxCEUe-bwbgtsEEu7fBjlpOQLDR5b2SnkiiMOMy_1qaln4U5qGfIR13IdgKnUsYTM-huht1Y4LRa4c92KNCyY9q_pEJ2cmgYtBPbg4bpVMWrnGZJbu5-gW5gqCgoXAowYu7_wN4ApmxK1QgByOGnKdq9mh58fc4VNsoXIVLJdGzXwmD_t2m-MebrpP0GMIM8jnQ5FisfKVNA9yRSGnbxLHmTr_90-elzyN7vaHernjucirN4I=
